<section class="main">
    <div class="container">
        <div class="main-content">
            <h1 class="big-title">Test your JavaScript knowledge with <span>iTlogiaQuiz</span>!</h1>
            <div class="main-description">
                We can help you prepare for your JavaScript homework or test!
            </div>
            <div class="main-button">
                <a href="#/signup" class="button">Start test</a>
            </div>
        </div>
        <div class="main-image">
            <img src="/images/main-image.png" alt="Main Image">
        </div>
    </div>
</section>