<section class="form">
    <div class="container">
        <div class="form-content">
            <h1 class="form-title common-title">Registration</h1>
            <div class="form-details">
                <div class="form-group">
                    <input type="text" class="form-input" id="name" required>
                    <label for="name" class="form-label">Name</label>
                </div>
                <div class="form-group">
                    <input type="text" class="form-input" id="last-name" required>
                    <label for="last-name" class="form-label">Last Name</label>
                </div>
                <div class="form-group">
                    <input type="text" class="form-input" id="email" required>
                    <label for="email" class="form-label">Email</label>
                </div>
                <div class="form-group">
                    <input type="password" class="form-input" id="password" required>
                    <label for="password" class="form-label">Password</label>
                </div>
                <div class="form-agree">
                    <input type="checkbox" id="agree" required>
                    <label for="agree">I agree with the <a href="#">rules of the site</a></label>
                </div>
            </div>
            <div class="form-button">
                <button class="button" id="process" disabled>Go to test selection</button>
            </div>
            <div class="form-link">Already have an account? <a href="/#/login">Enter</a></div>
        </div>
        <div class="form-image">
            <img src="/images/form-image.png" alt="Person">
        </div>
    </div>
</section>